In [23]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.11/site-packages (9.0.0)

In [24]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [25]:
# Esta función crea el BDD. Se conecta al servidor y si funciona lo crea, si falla te dice el fallo.
def crear_bbdd():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1')
    mycursor = cnx.cursor()

    try:
        mycursor.execute("CREATE DATABASE ABC_Corporation") # Aquí, el nombre de la base de datos se indica después del operador CREATE DATABASE.
        print("DATABASE CREATED UNDER THE NAME: ABC_Corporation 🆗")
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    finally:
        cnx.commit()
        mycursor.close()
        cnx.close()

# Esta función crea las tablas. Se conecta al servidor y si funciona lo crea, si falla te dice el fallo.
def crear_tablas():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='ABC_Corporation')
    mycursor = cnx.cursor()

 # Lista de consultas donde se crean todas las tablas.
    queries = [
        """CREATE TABLE Employee (
	ID INT PRIMARY KEY AUTO_INCREMENT,
    Age INT,
    Attrition VARCHAR(3),
    BusinessTravel VARCHAR(20),
    DailyRate DECIMAL(10, 2),
    Department VARCHAR(50),
    DistanceFromHome INT,
    Education INT,
    EducationField VARCHAR(50),
	EmployeeNumber INT,
    EnvironmentSatisfaction INT,
    Gender INT,
    HourlyRate DECIMAL(10, 2),
    JobInvolvement INT,
    JobLevel INT,
    JobRole VARCHAR(50),
    JobSatisfaction INT,
    MaritalStatus VARCHAR(20),
    MonthlyIncome DECIMAL(10, 2),
    MonthlyRate DECIMAL(10, 2),
    NumCompaniesWorked INT,
    PercentSalaryHike DECIMAL(5, 2),
    PerformanceRating INT,
    RelationshipSatisfaction INT,
    StandardHours INT,
    StockOptionLevel INT,
    TotalWorkingYears INT,
    TrainingTimesLastYear INT,
    WorkLifeBalance INT,
    YearsAtCompany INT,
    YearsInCurrentRole INT,
    YearsSinceLastPromotion INT,
    YearsWithCurrManager INT,
	DateBirth YEAR,
    RoleDepartament VARCHAR(100),
    RemoteWork VARCHAR(3)
    );""",
    ]

    
# Hemos creado esta lista de nombres de tablas para poder iterar sobre ella e imprimirá sus nombres apropiadamente a medida que los cree.
    nombre_tablas = [
        'employees',
        ]

   # El zip es una función que agrupa listas que tienen múltiples elementos en tuplas. 
    # Esto luego le permite iterar a través de los nombres en la impresión.
    for query, nombre_tablas in zip(queries, nombre_tablas):
        try:
            mycursor.execute(query) 
            print(f"TABLA CREADA CON EL NOMBRE: {nombre_tablas} 🆗")
        
        except mysql.connector.Error as err:
            print(err)
            print("Código de error:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("mensaje", err.msg)

    cnx.commit()
    mycursor.close()
    cnx.close()

In [26]:
# llamada BBDD
crear_bbdd()

DATABASE CREATED UNDER THE NAME: ABC_Corporation 🆗

In [27]:
# Llamada de tablas
crear_tablas()

TABLA CREADA CON EL NOMBRE: employees 🆗